@using Rockstar.ViewModels.Account
@model Rockstar.ViewModels.Account.LogInViewModel

<div class="container">
    <div class="row">
        <img src="~/images/RockstarLogo.png" alt="Rockstars IT" class="center-block" height="200" width="200" />
    </div>

        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form method="post">
                    <div id="login-box">
                        <h1 class="text-center color-rockstar">Login</h1>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <label asp-for="Email" class="control-label color-rockstar">Email</label><br />
                        <input asp-for="Email" class="form-control input-rockstar" />

                        <span asp-validation-for="Password" class="text-danger"></span>
                        <label class="control-label color-rockstar">Wachtwoord</label><br />
                        <input asp-for="Password" class="form-control input-rockstar" type="password" />

                        <button class="btn btn-rockstar float-right margin-top10" type="submit">Login</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
