@model Rockstar.ViewModels.Register.RegisterCompanyViewModel

<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="@Model.Image"/>
    <button type="submit"></button>
</form>